body {
    font-family: sans-serif;
}
button {
    margin-bottom: 10px;
}
.output-task-15 {
    width: 500px;
    height: 80px;
    border: 3px solid black;
    border-radius: 15px;
}
.output-task-16 {
    width: 500px;
    height: 80px;
    border: 3px solid black;
    border-radius: 15px;
}
.output-task-17 {
    width: 500px;
    height: 80px;
    border: 3px solid black;
    border-radius: 15px;
}
.output-task-18 {
    width: 500px;
    height: 80px;
    border: 3px solid black;
    border-radius: 15px;
}
.output-task-19 {
    width: 500px;
    height: 80px;
    border: 3px solid black;
    border-radius: 15px;
}
